#content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.album{
    width: 100%;
    border-radius: 18px;
    min-height: 30vh;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    z-index: 2;
}

.album img{
    border-radius: 12px;
    min-width: 150px;
    width: 12%;
    height: auto;
}

#msc_list{
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    padding: 20px 15px;
    width: 100%;
    gap: 15px;
    min-height: 58vh;
    background-color: var(--divs-color);
}
#msc_list .musica{
    min-width: 200px;
    display: flex;
    padding: 10px;
    align-items: center; 
    gap: 15px; 
    border-radius: 12px;
    background-color: var(--interndivs-color);
    justify-content: space-between;
}
.spotify{
    color: #238346;
    font-size: 1em;
}
.spotify:hover{
    color: #295a3b;
}
.apple{
    color: #913e3e;
    font-size: 1em;
}
.apple:hover{
    color: #613131;
}
.duracao_links{
    display: flex;
    gap: 20px;
    align-items: center;
}
.duracao_links .links_s_a{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: rgba(82, 82, 82, 0.158);
}
.musica h3 a{
    color: var(--text-color);
    font-weight: bolder;
}
.musica h3 a:hover{
    color: #5c5c5c;
    
}