#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
h1 {
    font-size: 2.986rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
p{
    font-size:1.2rem;
}
#quiz {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.question {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--divs-color);
    box-shadow: 0px 4px 8px #0000001a;
}

main button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--button-color);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--divs-color);  
}

button.correct {
    background-color: #528b54;
    color: white;
}

button.incorrect {
    background-color: #b36c66;
    color: white;
}

.hidden {
    display: none;
}

.correct-message {
    color: #528b54;
    width: fit-content;;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #28493227;
    padding: 5px;
    border-radius: 8px;
}

#score {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 10px 15px;
    width: fit-content;
    background-color: #28493227;
    border-radius: 8px;
    color: var(--text-color);
}

.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #55555588;
}

h2{
    color: var(--text-color);
}
table {
    text-align: center;
    border-radius: 4px;
    padding:5px;
    border:1px dashed #888;
  }
.tabela{
    max-width: 100%;
    overflow: scroll;
}
  
  td {
    width: 20px;
    height: 20px;
  }
  
  .dark {
    background:var(--header-color);
    
  }
  .grey {
    background:#8d8d8d;
    border: 1px solid #222;
  }
  
  .inpt {
    width: 20px;
    height: 20px;
    font-size:18px;
    text-align:center;
    border: 1px solid #222;
  }
  .clues{
    margin: 10px;
    background-color:var(--divs-color);
    border-radius: 12px;
    padding: 20px 40px;
    max-width: 100%;
    color: var(--text-color);
  }
#content div.tabela{            /*Adicionado posteriormente para não alterar devido à pagina de letras enviadas*/
    width: fit-content;
}
  


  /*-------------------------------------------LETRAS ENVIADAS----------------------------------------------------------*/
#content div{
    width: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#content li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--button-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.musica-env {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--divs-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.musica-conteudo{
    display: flex;
}

.musica-titulo-album {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
    gap: 10px;
    font-weight: bold;
}

.musica-artista {
    margin-top: 5px;
    color: var(--text-color);
    font-size: 14px;
}

.letra {
    background-color: var(--divs-color);
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    max-height: 0; 
    overflow: scroll;
    transition: all 0.3s ease;
}

/* Letra expandida */
.letra.expanded {
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    max-height: 50vh;
}

strong {
    font-size: 18px;
    color: var(--text-color);
}

p {
    margin: 5px 0;
}
span{
    color: var(--text-color);
}

.musica-botoes{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
pre{
    color: var(--text-color);
}
.musica-botoes button {
    width: 40px;
    padding: 12px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.musica-botoes button.expand-btn {
    color: var(--text-color);
    background-color: #6d6d6d4b;
}
.musica-botoes button.delete-btn {
    color: var(--text-color);
    background-color: #6d6d6d4b;
}

.musica-botoes button.expand-btn:hover {
    color: var(--text-color);
    background-color: #568b777a;
}

.musica-botoes button.delete-btn:hover {
    color: var(--text-color);
    background-color: #8b56566c;
}